* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box-img {
  background-image: url(images/image-product-desktop.jpg);

  background-size: contain;
  background-position: center;
}

.box-text {
  padding: 3.2rem;
}

.heading {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: #6c7289;
}

.title {
  font-family: "fraunces", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-top: 2rem;
  color: #1c232b;
}

.paragraph {
  margin-top: 2.4rem;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #6c7289;
}

.box-price {
  margin-top: 2.9rem;
  display: flex;
  align-items: center;
  gap: 1.9rem;
}

.price {
  font-family: "fraunces", sans-serif;
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: #3d8168;
}

.old-price {
  text-decoration: line-through;
  color: #6c7289;
  font-size: 1.3rem;
  line-height: 2.3rem;
}

.btn {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 700;

  padding: 1.5rem 6.2rem;
  display: inline-block;
  background-color: hsl(158, 36%, 37%);
  color: #fff;
  border-radius: 0.8rem;
  margin-top: 3rem;

  display: flex;
  gap: 1.1rem;
  justify-content: center;
}

.btn:hover,
.btn:active {
  background-color: #1a4032;
}
